.disclaimer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is above other elements */
}

.disclaimer-subcontainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "plus jakarta sans";
  font-size: 1em;
  text-align: center;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2); /* Increased shadow */
  max-width: 750px;
  max-height: 750px;
  width: 100%;
  height: 30%;
  z-index: 1001;
  line-height: 1.5em;
}

.warning{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.disclaimer-buttons{
    margin-top: 1em;
    font-family: "plus jakarta sans";
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.disclaimer-cancel,.disclaimer-proceed{
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px 30px;
    cursor: pointer;
    font-family: "plus jakarta sans";
    font-weight: 500;
}

.disclaimer-proceed:hover,.disclaimer-cancel:hover{
    background-color: black;
    color: white;
}